# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Data / checkpoints
**/imagenet-1k/
*.tar
*.pt
*.pth

# Outputs & logs
output/
**/logs/
wandb/